<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search form</title>
</head>
<body>
<div>
	<form action="/cgi-bin/search.pl" method="post">
		<fieldset>
			<legend>Введите адрес в поле поиска</legend>
				<input type="text" name="address">
			<legend>
				<input type="submit" value="Искать">
			</legend>
		</fieldset>
	</form>
</div>
<hr />
<div>
<TMPL_IF NAME="RESULT">
	<TMPL_IF NAME="COUNT">
	<table>
		<tbody>
		<tr><th>message</th></tr>
		<TMPL_LOOP NAME="ROWS">
			<tr><td><pre><TMPL_VAR NAME="ROW" ESCAPE="HTML"></pre></td></tr>
		</TMPL_LOOP>
		</tbody>
	</table>
	<TMPL_IF NAME="MORE">
		<hr />
		<div>
			<p>total <TMPL_VAR NAME="MORE"></p>
		</div>
	</TMPL_IF>
	<TMPL_ELSE>
	<div>
		<p>Address <i><b><TMPL_VAR NAME="SEARCH" /></b></i> not found</p>
	</div>
	</TMPL_IF>
</TMPL_IF>
</div>
</body>
</html>